@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
body{
  background-color: #e8d79e
}
h1 {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}


.box{
  position:relative;
  width:550px;
  height: 500px;
  padding:40px 40px;
  border: 2px solid;
  border-radius: 50px;
  margin: 40px 500px 40px ;
  background-color: #c9a016;
}
 #text {
    text-align:center;
    width:500px;
    height:auto;
    font-weight:550;
    font-size:2em;
    padding: 200px 10px;
    
  }
  #author {
    width:450px;
    height:auto;
    padding-top:20px;
    font-size:1.2em; 
    padding-left: 250px;
  }
#tweet-qoute{
  margin-left:130px;
  width:80px;
  
}
#facebook-qoute{
  margin-left:1px;
   width:80px;
}
